html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent scrolling */
}

.main-bg {
  font-family: sans-serif;
  background-image: url(../assets/bg.jpg);
  background-size: cover; /* Ensure the image covers the entire body */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fix the background image in place */
}

h1 {
  color: rgb(224, 109, 109);
  font-family: "Papyrus", fantasy;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}

h1:after {
  display: inline-block;
  content: "";
  height: 2px;
  background: rgb(240, 240, 240);
  min-width: 90%;
  margin-bottom: 35px;
}

p {
  font-size: 16px;
}

.button-event {
  display: inline-block;
  padding: 30px 40px;
  background-color: #3b5c7c;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 25px;
  font-weight: bold;

  /* Center horizontally */
  position: fixed;
  left: 42%;
  transform: translateX(-50%);

  /* Center vertically */
  top: 46%;
  transform: translateY(-50%);
}

.button-event:hover {
  background-color: #8eb1df;
}
.slogan{
  display: inline-block;
  position: fixed;
  transform: translateX(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  top: 55%;
  left: 38%;
  text-align: center;
}